---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.Research %}
  {% include archive-single.html %}
{% endfor %}


<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Object Detection and Segmentation</font></strong></heading>
            </td>
          </tr>
        </tbody>
		</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
        <tr>
            <td style="padding:20px;width:35%;vertical-align:top">
				<img src='../images/Feng_CP2_ECCV22.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Danyang_Iwin_ECCV22.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Xuehui_ContrastMask_CVPR22.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Hao_DSC_CVPR21.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
                <img src='../images/Yingda_SythCP_ECCV20.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Zhishuai_DES_CVPR18.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
                <img src='../images/Wei_DeepSkeleton_TIP17.jpg' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Wei_DeepContour_CVPR15.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Zhang_SymText_CVPR15.png' alt="Picture" style="width:auto;max-width:100%">
            </td>
            <td width="75%" valign="middle">
                <p>
				Feng Wang, Huiyu Wang, Chen Wei, Alan Yuille, <strong>Wei Shen</strong>. CP2: Copy-Paste Contrastive Pretraining for Semantic Segmentation. <strong>European Conference on Computer Vision (ECCV)</strong>, Tel-Aviv, Israel, 2022.
				<a href="https://arxiv.org/pdf/2203.11709.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Danyang Tu, Xiongkuo Min, Huiyu Duan, Guodong Guo, Guangtao Zhai, <strong>Wei Shen</strong>. Iwin: Human-Object Interaction Detection via Transformer with Irregular Windows. <strong>European Conference on Computer Vision (ECCV)</strong>, Tel-Aviv, Israel, 2022.
				<a href="https://arxiv.org/pdf/2203.10537.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Xuehui Wang, Kai Zhao, Ruixin Zhang, Shouhong Ding, Yan Wang, <strong>Wei Shen</strong>. ContrastMask: Contrastive Learning to Segment Every Thing. <strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, New Orleans, USA, 2022.
				<a href="https://openaccess.thecvf.com/content/CVPR2022/papers/Wang_ContrastMask_Contrastive_Learning_To_Segment_Every_Thing_CVPR_2022_paper.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Huiyu Duan, <strong>Wei Shen</strong>, Xiongkuo Min, Danyang Tu, Jing Li, Guangtao Zhai. Saliency in Augmented Reality. <strong>ACM International Conference on Multimedia (ACM MM)</strong>, Lisbon, Portugal, 2022. 
				<a href="https://arxiv.org/pdf/2204.08308.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Hao Ding, Siyuan Qiao, Alan Yuille, <strong>Wei Shen</strong>. Deeply Shape-guided Cascade for Instance Segmentation. <strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Nashville, USA, 2021.
				<a href="https://arxiv.org/pdf/1911.11263.pdf" target="_blank">(PDF)</a>
				<br /><br />
                Yingda Xia, Yi Zhang, Fengze Liu,<strong>Wei Shen</strong>, Alan Yuille. 
				Synthesize then Compare: Detecting Failures and Anomalies for Semantic Segmentation. 
				<strong>European Conference on Computer Vision (ECCV)</strong>, Glasgow, UK, 2020 <strong><font color="#c23b3b">[Oral]</font></strong>. 
				<a href="https://arxiv.org/abs/2003.08440" target="_blank">(PDF)</a>
				<br /><br />
				Zhishuai Zhang,&nbsp;<strong>Wei Shen</strong>,&nbsp;Siyuan Qiao,&nbsp;Yan Wang,&nbsp;Bo Wang,&nbsp;Alan Yuille.&nbsp;
				Robust Face Detection via Learning Small Faces on Hard Images.&nbsp;
				<strong>IEEE Winter Conference on Applications of Computer Vision (WACV),&nbsp;</strong>Colorado, USA, 2020.&nbsp;
				<a href="https://arxiv.org/pdf/1811.11662.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Peng Tang,&nbsp;Xinggang Wang,&nbsp;Song Bai,&nbsp;<strong>Wei Shen</strong>,&nbsp;Xiang Bai,&nbsp;Wenyu Liu,&nbsp;Alan Yuille.&nbsp;
				PCL: Proposal Cluster Learning for Weakly Supervised Object Detection.&nbsp;
				<strong>IEEE Trans. Pattern Analysis and Machine Intelligence</strong>, 2020.&nbsp;
				<a href="https://arxiv.org/abs/1807.03342" target="_blank">(PDF)</a></font>
				<br /><br />
				Zhishuai Zhang, Siyuan Qiao, Cihang Xie,&nbsp;<strong>Wei Shen</strong>, Bo Wang, Alan Yuille.&nbsp;
				Single-Shot Object Detection with Enriched Semantics.&nbsp;&nbsp;
				<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>,&nbsp;Salt Lake City, USA, 2018. 
				<a href="https://arxiv.org/abs/1712.00433" target="_blank">(PDF)</a>
				<br /><br />
				Kai Zhao,&nbsp;<strong>Wei Shen</strong>,&nbsp;Shanghua Gao, Dandan Li, Ming-Ming Cheng.&nbsp;
				Hi-Fi: Hierarchical Feature Integration for Skeleton Detection.&nbsp;
				<strong>International Joint Conference on Artificial Intelligence (IJCAI)</strong>, Stockholm, Sweden, 2018.&nbsp;
				<a href="https://arxiv.org/abs/1801.01849" target="_blank">(PDF)</a>
				<br /><br />
				<strong>Wei Shen</strong>, Kai Zhao, Yuan Jiang, Yan Wang, Xiang Bai, Alan Yuille.&nbsp;
				DeepSkeleton: Learning Multi-task Scale-associated Deep Side Outputs for Object Skeleton Extraction in Natural Images.&nbsp;
				<strong>IEEE Trans. Image Processing</strong>,&nbsp;2017.&nbsp;
				<a href="https://arxiv.org/abs/1609.03659" target="_blank">(PDF)</a>
				<br /><br />
				Siyuan Qiao,&nbsp;<strong>Wei She</strong><strong>n</strong>,&nbsp;Weichao Qiu,&nbsp;Chenxi Liu,&nbsp;Alan Yuille.&nbsp;
				ScaleNet: Guiding Object Proposal Generation in&nbsp;Supermarkets and Beyond.&nbsp;
				<strong>IEEE International Conference on Computer Vision (ICCV)</strong>Venice, Italy, 2017. 
				<a href="https://arxiv.org/abs/1704.06752" target="_blank">(PDF)</a>
				<br /><br />
				<strong>Wei Shen</strong>, Kai Zhao, Yuan Jiang, Yan Wang, Zhijiang Zhang, Xiang Bai. 
				Object Skeleton Extraction in Natural Images by Fusing Scale-associated Deep Side Outputs.&nbsp;
				<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Las Vegas, USA, 2016.&nbsp;
				<a href="../files/deepskeleton_final.pdf">(PDF)</a>
				<br /><br />
				Zheng Zhang, Chenquan Zhang,&nbsp;<strong>Wei Shen</strong>, Cong Yao, Wenyu Liu, Xiang Bai. 
				Multi-Oriented Text Detection with Fully Convolutional Networks.&nbsp;
				<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Las Vegas, USA, 2016.&nbsp;
				<a href="https://openaccess.thecvf.com/content_cvpr_2016/papers/Zhang_Multi-Oriented_Text_Detection_CVPR_2016_paper.pdf">(PDF)</a>
				<br /><br />
				<strong>Wei Shen</strong>, Xiang Bai, Zihao Hu, Zhijiang Zhang. 
				Multiple Instance Subspace Learning via Partial Random Projection Tree for Local Reflection Symmetry in Natural Images.&nbsp;
				<strong>Pattern Recognition,</strong>&nbsp;52(4): 306-316, 2016.&nbsp;
				<a href="../files/pr_symmetrydetection.pdf">(PDF)</a>
				<br /><br />
				<strong>Wei Shen</strong>, Xinggang Wang, Yan Wang, Xiang Bai, Zhijiang Zhang. 
				DeepContour: A Deep Convolutional Feature Learned by Positive-sharing Loss for Contour Detection.&nbsp;
				<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Boston, USA, 2015.&nbsp;
				<a href="https://openaccess.thecvf.com/content_cvpr_2015/papers/Shen_DeepContour_A_Deep_2015_CVPR_paper.pdf" target="_blank">(PDF)</a>
				<br /><br />
				Zheng Zhang,&nbsp;<strong>Wei Shen</strong>, Cong Yao, Xiang Bai. 
				Symmetry-Based Text Line Detection in Natural Scenes.&nbsp;
				<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Boston, USA, 2015.&nbsp;
				<a href="https://openaccess.thecvf.com/content_cvpr_2015/papers/Zhang_Symmetry-Based_Text_Line_2015_CVPR_paper.pdf" target="_blank">(PDF)</a>
                </p>
            </td>
        </tr> <!--Object Detection and Segmentation-->
        </tbody>
	</table>
	<br /><br />
	
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Deep Networks and Beyond</font></strong></heading>
            </td>
          </tr>
        </tbody>
	</table>
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	<tbody>
	<td style="padding:20px;width:35%;vertical-align:top">
		<img src='../images/Jinghao_IBOT_ICLR22.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
	    <img src='../images/Qihang_GG_NIPS21.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Chen_Co2_ICLR21.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Siyuan_FewShot_CVPR18.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Wei_LDLF_NIPS17.png' alt="Picture" style="width:auto;max-width:100%">
	</td>
	<td width="75%" valign="middle">
	<p>
	Jinghao Zhou, Chen Wei, Huiyu Wang, <strong>Wei Shen</strong>, Cihang Xie, Alan Yuille, Tao Kong. iBOT: Image BERT Pre-Training with Online Tokenizer. <strong>International Conference on Learning Representations (ICLR)</strong>, Lisbon, Portugal, 2022.
	<a href="https://arxiv.org/pdf/2111.07832.pdf" target="_blank">(PDF)</a>
	<br /><br />
	Qihang Yu, Yingda Xia, Yutong Bai, Yongyi Lu, Alan Yuille, <strong>Wei Shen</strong>. Glance-and-Gaze Vision Transformer. 
	<strong>Advances in Neural Information Processing Systems (NeurIPS)</strong>, Sydney, Australia, 2021.
	<a href="https://arxiv.org/pdf/2106.02277.pdf" target="_blank">(PDF)</a>
	<br /><br />
	Chen Wei, Huiyu Wang, <strong>Wei Shen</strong>, Alan Yuille. CO2: Consistent Contrast for Unsupervised Visual Representation Learning. 
	<strong>International Conference on Learning Representations (ICLR)</strong>, Vienna, Austria, 2021.
	<a href="https://openreview.net/pdf?id=U4XLJhqwNF1" target="_blank">(PDF)</a>
	<br /><br />
	Yingwei Li, Qihang Yu, Mingxing Tan, Jieru Mei, Peng Tang, <strong>Wei Shen</strong>, Alan Yuille, Cihang Xie. Shape-Texture Debiased Neural Network Training. <strong>International Conference on Learning Representations (ICLR)</strong>, Vienna, Austria, 2021.
	<a href="https://openreview.net/pdf?id=Db4yerZTYkz" target="_blank">(PDF)</a>
	<br /><br />
	Yunhan Zhao, Ye Tian, Charless Fowlkes,&nbsp;<strong>Wei Shen</strong>, Alan Yuille. 
	Towards Resisting Large Data Variations via Introspective Learning. 
	<strong>IEEE Winter Conference on Applications of Computer Vision (WACV)&nbsp;</strong>, Colorado, USA, 2020. 
	<a href="https://arxiv.org/pdf/1805.06447.pdf">(PDF)</a>
	<br /><br />
	Siyuan Qiao,&nbsp;Chenxi Liu,&nbsp;<strong>Wei Shen</strong>,&nbsp;Alan Yuille.&nbsp;
	Few-Shot Image Recognition by Predicting Parameters from Activations.&nbsp;
	<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>,&nbsp;Salt Lake City, USA, 2018&nbsp;<strong><font color="#c23b3b">[Spotlight]</font></strong>.&nbsp;
	<a href="https://arxiv.org/abs/1706.03466" target="_blank">(PDF)</a>
	<br /><br />
	Siyuan Qiao,&nbsp;<strong>Wei Shen</strong>,&nbsp;Zhishuai Zhang,&nbsp;Bo Wang,&nbsp;Alan Yuille.&nbsp;
	Deep Co-Training for Semi-Supervised Image Recognition.&nbsp;
	<strong>European Conference on Computer Vision (ECCV)</strong>,&nbsp;Munich, Germany, 2018.&nbsp;
	<a href="https://arxiv.org/abs/1803.05984" target="_blank">(PDF)</a>
	<br /><br />
	Siyuan Qiao,&nbsp;Zhishuai Zhang,&nbsp;</font><strong>Wei Shen</strong>,&nbsp;Bo Wang,&nbsp;Alan Yuille.&nbsp;
	Gradually Updated Neural Networks for Large-Scale Image Recognition.&nbsp;
	<strong>International Conference on Machine Learning (ICML)</strong>, Stockholm, Sweden, 2018..&nbsp;
	<a href="https://arxiv.org/abs/1711.09280" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Kai Zhao, Yilu Guo, Alan Yuille.&nbsp;
	Label Distribution Learning Forests.&nbsp;
	<strong>Advances in Neural Information Processing Systems (NIPS)</strong>,&nbsp;Long Beach, USA, 2017.&nbsp;
	<a href="https://arxiv.org/abs/1702.06086" target="_blank">(PDF)</a>
	</p>
	</td>
	</tbody>
	</table>
	<br /><br />
	
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Biomedical/Medical Image Analysis</font></strong></heading>
            </td>
          </tr>
        </tbody>
	</table>
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	<tbody>
	<td style="padding:20px;width:35%;vertical-align:top">
				<img src='../images/Yan_IAG-NET_TMI21.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Daniil_CCAN_IROS20.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Yan_DDT_CVPR20.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Shuhao_DARR_MICCAI20.png' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
                <img src='../images/Wei_M2FCN_ICCV17.jpg' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
                <img src='../images/Yuyin_FixedPoint_MICCAI17.png' alt="Picture" style="width:auto;max-width:100%">               
	</td>
	<td width="75%" valign="middle">
	<p>
	Yuyin Zhou, David Dreizin, Yan Wang, Fengze Liu, <strong>Wei Shen</strong>, Alan Yuille. External Attention Assisted Multi-Phase Splenic Vascular Injury Segmentation with Limited Data. <strong>IEEE Trans. Medical Imaging</strong>, 41(6), 1346-1357, 2022.
	<a href="../files/External_Attention.pdf" target="_blank" style="">(PDF)</a>
	<br /><br />
	Yan Wang, Peng Tang, Yuyin Zhou, <strong>Wei Shen</strong>, Elliot K. Fishman, Alan L. Yuille. Learning Inductive Attention Guidance for Partially Supervised Pancreatic Ductal Adenocarcinoma Prediction. <strong>IEEE Trans. Medical Imaging</strong>, 43(2), 2723-2735, 2021. 
	<a href="../files/IAG-NET-online.pdf" target="_blank" style="">(PDF)</a>
	<br /><br />
	Daniil Pakhomov,&nbsp;<strong style="">Wei Shen</strong>, Nassir Navab.&nbsp;Towards Unsupervised Learning for Instrument Segmentation in Robotic Surgery with Cycle-Consistent Adversarial Networks.&nbsp;<strong>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</strong>, Las Vegas, USA, 2020.&nbsp;
	<a href="https://arxiv.org/abs/2007.04505" target="_blank" style="">(PDF)</a>
	<br /><br />
	Yan Wang,&nbsp;Xu Wei,&nbsp;Fengze Liu,&nbsp;Jieneng Chen,&nbsp;Yuyin Zhou,&nbsp;<strong>Wei Shen</strong>,&nbsp;Elliot Fishman,&nbsp;Alan Yuille.&nbsp;Deep Distance Transform for Tubular Structure Segmentation in CT Scans.&nbsp;<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR),&nbsp;</strong>Seattle,&nbsp;USA, 2020&nbsp;</font><strong><font color="#c23b3b">[Oral]</font></strong>. 
	<a href="https://arxiv.org/abs/1912.03383" target="_blank">(PDF)</a>
	<br /><br />
	Yingda Xia, Qihang Yu,&nbsp;<strong>Wei Shen</strong>, Yuyin Zhou,&nbsp;Elliot Fishman,&nbsp;Alan Yuille.&nbsp;Detecting Pancreatic Adenocarcinoma in Multi-phase CT Scans via Alignment Ensemble. <strong>International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI)</strong>, Lima, Peru,&nbsp;2020.&nbsp;
	<a href="https://arxiv.org/abs/2003.08441" target="_blank">(PDF)</a>
	<br /><br />
	Shuhao Fu,&nbsp;Yongyi Lu,&nbsp;Yan Wang,&nbsp;Yuyin Zhou,&nbsp;<strong>Wei Shen</strong>,&nbsp;Elliot Fishman,&nbsp;Alan Yuille.&nbsp;
	Domain Adaptive Relational Reasoning for 3D Multi-Organ Segmentation. 
	<strong>International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI)</strong>, Lima, Peru,&nbsp;2020. 
	<a href="https://arxiv.org/abs/2005.09120" target="_blank">(PDF)</a>
	<br /><br />
	Yan Wang, Yuyin Zhou,&nbsp;<strong>Wei Shen</strong>,&nbsp;Seyoun Park,&nbsp;Elliot K. Fishman,&nbsp;Alan&nbsp;Yuille.&nbsp;
	Abdominal multi-organ segmentation with organ-attention networks and statistical fusion.&nbsp;
	<strong>Medical Image Analysis</strong>, 2019.&nbsp;
	<a href="https://arxiv.org/abs/1804.08414" target="_blank">(PDF)</a>
	<br /><br />
	Yuyin Zhou,&nbsp;Yan Wang,&nbsp;Peng Tang, Song Bai,&nbsp;<strong>Wei Shen</strong>,&nbsp;Elliot K. Fishman,&nbsp;Alan&nbsp;Yuille.&nbsp;Semi-Supervised 3D Multi-Organ Segmentation via Deep Multi-Planar Co-Training.&nbsp;
	<strong>IEEE Winter Conference on Applications of Computer Vision (WACV)</strong>, Hawaii, USA, 2019. 
	<a href="https://arxiv.org/abs/1804.02586" target="_blank">(PDF)</a>
	<br /><br />
	Yan Wang, Yuyin Zhou, Peng Tang,&nbsp;<strong>Wei Shen</strong>, Elliot K. Fishman, Alan Yuille.&nbsp;Training Multi-organ Segmentation Networks with Sample Selection by Relaxed Upper Confident Bound.&nbsp;
	<strong>International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI)</strong>,&nbsp;Granada, Spain, 2018&nbsp;<strong><font color="#c23b3b">[Oral]</font></strong>.&nbsp;
	<a href="https://arxiv.org/abs/1804.02595" target="_blank">(PDF)</a>
	<br /><br />
	Zhuotun Zhu, Yingda Xia,&nbsp;<strong>Wei Shen</strong>, Elliot K Fishman, Alan Yuille.&nbsp;
	A 3D Coarse-to-Fine Framework for Automatic Pancreas Segmentation.&nbsp;
	<strong>International Conference on 3D Vision (3DV)</strong>,&nbsp;Verona, Italy, 2018.&nbsp;
	<a href="https://arxiv.org/abs/1712.00201" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>,&nbsp;Bin Wang,&nbsp;Yuan Jiang,&nbsp;Yan Wang,&nbsp;Alan Yuille.&nbsp;
	Multi-stage Multi-recursive-input Fully Convolutional Networks for Neuronal Boundary Detection.&nbsp;
	<strong>IEEE International Conference on Computer Vision (ICCV)</strong>, Venice, Italy, 2017. 
	<a href="http://arxiv.org/abs/1703.08493" target="_blank">(PDF)</a>
	<br /><br />
	Yuyin Zhou, Lingxi Xie,&nbsp;<strong>Wei Shen</strong>, Yan Wang, Elliot Fishman,&nbsp;Alan Yuille.&nbsp;
	A Fixed-Point Model for Pancreas Segmentation in Abdominal CT Scans.&nbsp;
	<strong>International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI)</strong>,&nbsp;Quebec, Canada, 2017. 
	<a href="https://arxiv.org/pdf/1612.08230.pdf" target="_blank">(PDF)</a>
	</p>
	</td>
	</tbody>
	</table>
	
	<br /><br />
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Human-centric Vision</font></strong></heading>
            </td>
          </tr>
        </tbody>
	</table>
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	<tbody>
	<td style="padding:20px;width:35%;vertical-align:top">
		<img src='../images/Kai_BézierPalm_ECCV22.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Chen_Poxture_TCSVT22.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Yunhao_Skeleton2Humanoid_ACMMM22.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Yunhao_GazeFollow360_ICCV21.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Yi_DualAtt_CVPR21.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Wei_DeepRandomForest_TPAMI21.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
		<img src='../images/Wei_HumanPose_CVPR12.png' alt="Picture" style="width:auto;max-width:100%">
		<br /><br />
	</td>
	<td width="75%" valign="middle">
	<p>
	Kai Zhao, Lei Shen, Yingyi Zhang, Chuhan Zhou, Tao Wang, Ruixin Zhang, Shouhong Ding, Wei Jia, <strong>Wei Shen</strong>. BézierPalm: A Free Lunch for Palmprint Recognition. <strong>European Conference on Computer Vision (ECCV)</strong>, Tel-Aviv, Israel, 2022.
	<a href="https://arxiv.org/pdf/2203.05703.pdf" target="_blank">(PDF)</a>
	<br /><br />
	Chen Yang, Shunyu Yao, Zanwei Zhou, Bin Ji, Guangtao Zhai, <strong>Wei Shen</strong>. Poxture: Human Posture Imitation Using Neural Texture. <strong>IEEE Trans. Circuits and Systems for Video Technology</strong>, 2022.
	<a href="" target="_blank">(PDF)</a>
	<br /><br />
	Yunhao Li, Zhenbo Yu, Yucheng Zhu, Bingbing Ni, Guangtao Zhai, <strong>Wei Shen</strong>. Skeleton2Humanoid: Animating Simulated Characters for Physically-plausible Motion In-betweening. <strong>ACM International Conference on Multimedia (ACM MM)</strong>, Lisbon, Portugal, 2022.
	<a href="" target="_blank">(PDF)</a>
	<br /><br />
	Danyang Tu, Xiongkuo Min, Huiyu Duan, Guodong Guo, Guangtao Zhai, <strong>Wei Shen</strong>. End-to-End Human-Gaze-Target Detection with Transformers. <strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, New Orleans, USA, 2022.​
	<a href="https://openaccess.thecvf.com/content/CVPR2022/papers/Tu_End-to-End_Human-Gaze-Target_Detection_With_Transformers_CVPR_2022_paper.pdf" target="_blank">(PDF)</a>
	<br /><br />
	Yunhao Li, <strong>Wei Shen</strong>, Zhongpai Gao, Yucheng Zhu, Guangtao Zhai, Guodong Guo. Looking Here or There? Gaze Following in 360-Degree Images. <strong>IEEE International Conference on Computer Vision (ICCV)</strong>, Montreal, Canada, 2021.
	<a href="https://openaccess.thecvf.com/content/ICCV2021/papers/Li_Looking_Here_or_There_Gaze_Following_in_360-Degree_Images_ICCV_2021_paper.pdf" target="_blank">(PDF)</a>
	<br /><br />
	Yi Fang, Jiapeng Tang, Wang Shen, <strong>Wei Shen</strong>, Xiao Gu, Li Song, Guangtao Zhai. Dual Attention Guided Gaze Target Detection in the Wild. <strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Nashville, USA, 2021 <strong><font color="#c23b3b">[Oral]</font></strong>.
	<a href="https://openaccess.thecvf.com/content/CVPR2021/papers/Fang_Dual_Attention_Guided_Gaze_Target_Detection_in_the_Wild_CVPR_2021_paper.pdf" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Yilu Guo, Yan Wang, Kai Zhao, Bo Wang, Alan Yuille.&nbsp;
	Deep Differentiable Random Forests for Age Estimation.&nbsp;<strong>IEEE Trans. Pattern Analysis and Machine Intelligence
	</strong>, 43(2): 404-419, 2021.
	<a href="https://arxiv.org/abs/1907.10665" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Yilu Guo, Yan Wang, Kai Zhao, Bo Wang, Alan Yuille.&nbsp;
	Deep Regression Forests for Age Estimation. 
	<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>,&nbsp;Salt Lake City, USA, 2018.&nbsp;
	<a href="https://arxiv.org/abs/1712.07195" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Rui Lei, Dan Zeng, Zhijiang Zhang.&nbsp;
	Regularity guaranteed human pose correction.&nbsp;
	<strong>Asian Conference on Computer Vision (ACCV)</strong>, Singapore, 2014.&nbsp;
	<a href="../files/rgposecorrectionfinal.pdf" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Ke Deng, Xiang Bai, Tommer Leyvand, Baining Guo, Zhuowen Tu. 
	Exemplar-based human action pose correction. 
	<strong>IEEE Trans. Cybernetics</strong>, 2013. 
	<a href="../files/posecorrection.pdf" target="_blank">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Ke Deng, Xiang Bai, Tommer Leyvand, Baining Guo, Zhuowen Tu. 
	Exemplar-based human action pose correction and tagging. 
	<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Providence, USA, 2012.&nbsp;
	<a href="../files/posecorrection_cvpr.pdf" target="_blank">(PDF)</a>
	</p>
	</td>
	</tbody>
	</table>
	
	<br /><br />
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Shape Repr﻿esentation and Recognition</font></strong></heading>
            </td>
          </tr>
        </tbody>
	</table>
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	<tbody>
	<td style="padding:20px;width:35%;vertical-align:top">
				<img src='../images/Wei_ShapeClustering_PR13.jpg' alt="Picture" style="width:auto;max-width:100%">
				<br /><br />
				<img src='../images/Wei_BoSP_PRL16.png' alt="Picture" style="width:auto;max-width:100%">
	</td>
	<td width="75%" valign="middle">
	<p>
	<strong>Wei Shen</strong>, Chenting Du, Yuan Jiang, Dan Zeng, Zhijiang Zhang.&nbsp;
	Bag of Shape Features with A Learned Pooling Function for Shape Recognition.&nbsp;
	<strong>Pattern Recognition Letters,</strong>&nbsp;106(15):&nbsp;33&ndash;40,&nbsp;2018.&nbsp;
	<a href="../files/bosf_lp.pdf">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Wenjing Gao, Yuan Jiang, Dan Zeng, Zhijiang Zhang.&nbsp;
	Shape Recognition by Bag of Contour Fragments with A Learned Pooling Function.&nbsp;
	<strong>IEEE International Conference on Image Processing (ICIP)</strong>, Beijing, China, 2017 <strong><font color="#c23b3b">[Oral]</font></strong>.&nbsp;
	<a href="../files/bocf_lp.pdf">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Yuan Jiang, Wenjing Gao, Dan Zeng, Xinggang Wang.&nbsp;
	Shape Recognition by Bag of Skeleton-associated Contour Parts.
	<strong>Pattern Recognition Letters,</strong>&nbsp;83: 321-329,&nbsp;2016.&nbsp;
	<a href="../files/boscp.pdf">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>, Yan Wang, Xiang Bai, Hongyuan Wang, Longin Jan Latecki. 
	Shape clustering: Common structure discovery. 
	<strong>Pattern Recognition</strong>, 46(2): 539-550, 2013. 
	<a href="../files/shape_clustering_common_structure_discovery.pdf">(PDF)</a>
	<br /><br />
	<strong>Wei Shen</strong>,&nbsp;Xiang Bai,&nbsp;Rong Hu,&nbsp;Hongyuan Wang,&nbsp;Longin Jan Latecki.&nbsp;
	Skeleton growing and pruning with bending potential ratio.&nbsp;
	<strong>Pattern Recognition</strong>, 44(2): 196-209 (2011).
	<a href="../files/skeleton_growing_and_pruning_with_bending_potential_ratio.pdf">(PDF)</a>
	</p>
	</td>
	</tbody>
	</table>
</html>
