---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.Research %}
  {% include archive-single.html %}
{% endfor %}


<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>

   	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/NeurIPS2022.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">

    <papertitle>Neural Transmitted Radiance Fields</papertitle>
    <br>
		Chengxuan Zhu,
        <strong>Renjie Wan</strong>, 
		Boxin Shi.
    <br>
        <em>Accepted by NeurIPS 2022</em>
	<br>

	<p></p>
      </td>
    </tr>

   	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/tp.png" height="125" width="256"> </div> </td> 
      <td valign="top" width="75%">
    <a href="./renjie_files/tpami.pdf">
    <papertitle>Benchmarking Single Image Reflection Removal Algorithms</papertitle>
    </a>
    <br>
        <strong>Renjie Wan</strong>, 
		Boxin Shi,
		Haoliang Li,
		Yuchen Hong, 
		Ling-Yu Duan,
		Alex C. Kot.
    <br>
        <em>IEEE Transactions on Pattern Analysis and Machine Intelligence, 2022</em>
	<br>
	<a href="https://sir2data.github.io/">Project webpage</a>

	<p></p>
      </td>
    </tr>

  	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/TIFS.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/abstract/document/9720164">-->
    <papertitle>Learning Meta Pattern for Face Anti-Spoofing</papertitle>
    </a>
    <br>
		Rizhao Cai,
		Zhi Li,
        <strong>Renjie Wan</strong>, 
		Haoliang Li,
		Yongjian Hu,
		Alex C. Kot.        
    <br>
        <em>IEEE Transactions on Information Forensics & Security, 2022</em>
	<br>
	
	<p></p>
      </td>
    </tr>
	
   	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/TMM.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <a href="https://ieeexplore.ieee.org/abstract/document/9720164">
    <papertitle>Background Scene Recovery from an Image Looking through Colored Glass</papertitle>
    </a>
    <br>
		Ce Wang,
		Dejia Xu,
        <strong>Renjie Wan</strong>, 
		Bin He, 
		Boxin Shi,
		Ling-Yu Duan.        
    <br>
        <em>IEEE Transactions on Multimedia 2022</em>
	<br>
	
	<p></p>
      </td>
    </tr>
	
   	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/aaai2022.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <a href="https://arxiv.org/pdf/2109.05923.pdf">
    <papertitle>Low-Light Image Enhancement with Normalizing Flow</papertitle>
    </a>
    <br>
		Yufei Wang,
        <strong>Renjie Wan*</strong>, 
		Wenhan Yang, 
		Haoliang Li,
		Lap-Pui Chau,
        Alex C. Kot.
        
    <br>
        <em>AAAI2022</em>
	<br>
	<a href="https://wyf0912.github.io/LLFlow/">Project webpage</a>

	<p></p>
      </td>
    </tr>
   
   
	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/nips2020.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Domain Generalization for Medical Imaging Classification with Linear-Dependency Regularization</papertitle>
    <!--</a>-->
    <br>
		Haoliang Li,
        Yufei Wang,
        <strong>Renjie Wan</strong>, 
		Shiqi Wang, 
		Tie-qiang Li,
        Alex C. Kot.
        
    <br>
        <em>NeurIPS 2020</em>
	<br>
	<p></p>
      </td>
    </tr>
	
	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/TPAMI2020.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>GMFAD: Towards Generalized Visual Recognition via Multi-Layer Feature Alignment and Disentanglement</papertitle>
    <!--</a>-->
    <br>
		Haoliang Li,
        Shiqi Wang,
        <strong>Renjie Wan</strong>, 
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
        
    <br>
        <em>IEEE Transactions on Pattern Analysis and Machine Intelligence 2021</em>
	<br>
	<p></p>
      </td>
    </tr>
	
	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/ijcv.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Face Image Reflection Removal</papertitle>
    <!--</a>-->
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        Haoliang Li,
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
        
    <br>
        <em>International Journal of Computer Vision 2021</em>
	<br>
	<a>Dataset </a>
        <p></p>
      </td>
    </tr>

	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/Image_20200720194510.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Unsupervised Domain Adaptation in the Wild via Disentangling Representation Learning</papertitle>
    <!--</a>-->
    <br>
        Haoliang Li,
        <strong>Renjie Wan</strong>, 
        Shiqi Wang,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
        
    <br>
        <em>International Journal of Computer Vision 2021</em>
	<br>
        <p></p>
      </td>
    </tr>

	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/cvpr2020.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Reflection scene separation from a single image</papertitle>
    <!--</a>-->
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        Haoliang Li,
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
        
    <br>
        <em>IEEE Conference on Computer Vision and Pattern Recognition (CVPR) 2020</em>
	<br>
		<a href="./renjie_files/corrigendum1.png">Corrigendum1 </a>
        <p></p>
      </td>
    </tr>

	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/ICCV2019.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Learning to jointly generate and separate reflections</papertitle>
    <!--</a>-->
    <br>
		<a>Daiqian Ma</a>,
        <strong>Renjie Wan</strong>, 
        <a>Ce Wang</a>,
		<a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>.        
    <br>
        <em>International Conference on Computer Vision (ICCV) 2019</em>
	<br>
        <p></p>
      </td>
    </tr>

	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/acm.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>See through the windshield from surveillance camera image</papertitle>
    <!--</a>-->
    <br>
		<a>Daiqian Ma</a>,
		<a>Bai Yan</a>,
        <strong>Renjie Wan</strong>, 
        <a>Ce Wang</a>,
		<a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>.        
    <br>
        <em> ACM Multimedia, 2019</em>
	<br>
        <p></p>
      </td>
    </tr>

    <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/TPAMI.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>CoRRN: Cooperative Reflection Removal Network</papertitle>
    <!--</a>-->
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        Haoliang Li,
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
        
    <br>
        <em>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI) 2019</em>
	<br>
		<a href="https://github.com/wanrenjie/CoRRN">Code (Github)</a>
		<a href="https://sir2data.github.io">Reflection Image Dataset (RID)</a>
        <p></p>
      </td>
    </tr>
	
    <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/icme2019.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <!--<a href="https://ieeexplore.ieee.org/document/8300655">-->
    <papertitle>Learning to remove reflections for text images</papertitle>
    <!--</a>-->
    <br>
        Wang Ce,
        <strong>Renjie Wan</strong>, 
        Gao Feng,
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,        
    <br>
        <em>International Conference on Multimedia and Expo</em>, 2019 <br>
        <p></p>
      </td>
    </tr>
	
    <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/aaai.png" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <a href="./renjie_files/aaai.pdf">
    <papertitle>Heterogeneous Transfer Learning via Deep Matrix Completion with Adversarial Kernel Embedding</papertitle>
    </a>
    <br>
        Haoliang Li,
        <a href="http://www.ntu.edu.sg/home/sinnopan/">Sinno Jialin Pan</a>,
        <strong>Renjie Wan</strong>, 
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
    <br>
        <em>33rd AAAI Conference on Artificial Intelligence (AAAI-19)</em>, 2019<br>
        <p></p>
      </td>
    </tr>

    <tr onmouseout="siga18_stop()" onmouseover="siga18_start()">
	  <td height="135"> <div id="photo"> <img src="./renjie_files/Pub_CVPR18c.jpg" height="105" width="256"> </div> </td> 
      <td valign="top" width="75%">
    <a href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Wan_CRRN_Multi-Scale_Guided_CVPR_2018_paper.pdf">
            <papertitle>CRRN: Multi-Scale Guided Concurrent Reflection Removal Network </papertitle>
    </a>
    <!-- <papertitle>Image Smoothing via Unsupervised Learning</papertitle> -->
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,        
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
        
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
    <br>
        <em>Computer Vision and Pattern Recognition</em>, 2018
		<br>		
		<a> <strong style="color:red">I miswrite my email account in the final version submitted to IEEE. Thus, if you have any questions to this work, please contact me directly. </strong> </a>
    <br>
      </td>
    </tr>



    <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/Pub_TIP18a.jpg" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
    <a href="https://ieeexplore.ieee.org/document/8300655">
            <papertitle>Region-Aware Reflection Removal with Unified Content and Gradient Priors</papertitle>
    </a>
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,        
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
		<a href="http://www.jdl.ac.cn/htm-gaowen/en_index.htm">Gao Wen</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
    <br>
        <em>IEEE Transactions on Image Processing</em>, 2018 <br>
        <p></p>
      </td>
    </tr>



   	<tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
	<td height="135"> <div id="photo"> <img src="./renjie_files/Pub_ICCV17a.jpg" height="125" width="256"> </div> </td> 

      <td valign="top" width="75%">
	  <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Wan_Benchmarking_Single-Image_Reflection_ICCV_2017_paper.pdf">
            <papertitle>Benchmarking Single-Image Reflection Removal Algorithms</papertitle>
	  </a>
    <br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://eecs.pku.edu.cn/EN/People/Faculty/Detail/?ID=6096">Ling-Yu Duan</a>,        
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
    <br>
        <em>International Conference on Computer Vision </em>, 2017 <br>
        <a href="https://sir2data.github.io/">Project Page</a>
		<a href="https://drive.google.com/file/d/1A5T1c53CNac5xQ8e1awOUVYiWzUPotDn/view?usp=sharing">Dataset Download</a>
        <p></p>
      </td>
    </tr>


   	 <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
		<td height="135"> <div id="photo"> <img src="./renjie_files/icme.png" height="105" width="256"> </div> </td> 

      <td valign="top" width="75%">
	  <a href="https://ieeexplore.ieee.org/document/8019527">
            <papertitle>Sparsity based reflection removal using external patch search</papertitle>
	  </a>
		<br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
		<br>
        <em>International Conference on Multimedia and expo</em>, 2017 <strong style="color:red">(Oral)</strong> <br>
        <p></p>
      </td>
    </tr>



    <tr onmouseout="portrait_stop()" onmouseover="portrait_start()">
		<td height="135"> <div id="photo"> <img src="./renjie_files/icip16.png" height="95" width="256"> </div> </td> 

      <td valign="top" width="75%">
	  <a href="https://ieeexplore.ieee.org/document/7532311">
            <papertitle>Depth of field guided reflection removal</papertitle>
	  </a>
		<br>
        <strong>Renjie Wan</strong>, 
        <a href="http://www.shiboxin.com/">Boxin Shi</a>, 
        <a href="http://www.ntu.edu.sg/home/asahtan/">Ah-Hwee Tan</a>,
        <a href="http://www.ntu.edu.sg/home/eackot/index.html">Alex C. Kot</a>.
		<br>
        <em>International Conference on Image Processing</em>, 2016 <strong style="color:red">(Oral)</strong> <br>
        <a href="https://github.com/wanrenjie/Depth-of-field-guided-reflection-removal">Code (Github)</a>
        <p></p>
      </td>
    </tr>
	
	</tbody>
	</table>
</html>
