---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Teaching</title>
</head>
<body>
2021-2022 Academic Year:<br>
2022 Fall, East China Normal University, <b>Introduction to Information and Communication Engineering</b> (Undergraduate)<br>
2021 Spring, East China Normal University, <b>Artificial Intelligence: Theory and Practice</b> (Undergraduate)<br>
<br>
2020-2021 Academic Year:<br>
2021 Fall, East China Normal University, <b>Introduction to Information and Communication Engineering</b> (Undergraduate)<br>
2020 Spring, East China Normal University, <b>Artificial Intelligence: Theory and Practice</b> (Undergraduate)<br>
</body>
</html>
