---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Teaching</title>
</head>
<body>
2022-2023 Academic Year:<br>
2022 Fall, Hong Kong Baptist University, <b>COMP7035 Python for Data Analytics and Artificial Intelligence </b><br>
2023 Spring, Hong Kong Baptist University, <b>COMP3065 AI Application Development </b> <br>
<br>
</body>
</html>
